<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Homepage</title>
    <style>
        body {
            background-image: url('/img/mysuru-palace.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .content {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content container pt-5">
        <div class="row justify-content-center align-items-start">
            <div class="col-12 text-center">
                <h1 class="display-5 mb-5"><strong>Hotel Booking Application</strong></h1>
                <p class="lead fs-3 mb-5">PES2UG21CS206     Ishita Binwal<br>
                    PES2UG21CS211     Prashil Jatakiya<br>
                    PES2UG21CS239     Krishaben B Bhalani<br>
                    PES2UG21CS182     H. Manoj<br>
                </p>
                <a href="/login" class="btn btn-primary btn-lg">Let's - Get - Started</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
